body {
  background-color: black;
}

#wrapper {
  display: grid;
  font-family: "Poiret One", cursive;
  caret-color: transparent;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

#project-wrap {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgb(243, 95, 95);
  border-right: 1px solid black;
}

#title {
  text-align: center;
  font-size: clamp(2rem, 4vw, 4rem);
  padding: 4rem 1rem 1rem 1rem;
}

.divider {
  background-color: black;
  margin: 0 auto;
  width: max(20vw, 10rem);
  height: 0.2rem;
}

#add {
  font-size: 1.2rem;
}

#add-project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 0 auto;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-family: "Poiret One", cursive;
}

.plus-minus {
  font-size: 3rem;
  margin-right: 1rem;
}

#project-form {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-top: 2.65rem;
}

#project-form label {
  margin-right: 1rem;
}

#project-form :first-child input {
  font-size: 1.1rem;
}

#project-form input {
  font-family: "Poiret One", cursive;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project {
  background-color: transparent;
  border: transparent;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: rgb(27, 27, 27);
  font-family: "Poiret One", cursive;
}
