body {
  background-color: black;
}

#wrapper {
  display: grid;
  font-family: "Poiret One", cursive;
  caret-color: transparent;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

#project-wrap {
  grid-column: 1/2;
  background-color: rgb(243, 95, 95);
  border-right: 1px solid black;
}

#title {
  text-align: center;
  font-size: 4rem;
  padding: 4rem 1rem 1rem 1rem;
}

.divider {
  background-color: black;
  margin: 0 auto;
  width: 20rem;
  height: 0.2rem;
}

#add-project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 0 auto;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-family: "Poiret One", cursive;
}

.plus {
  font-size: 2rem;
  margin-right: 1rem;
}

#project-form {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-top: 2.65rem;
}

#project-form label {
  margin-right: 1rem;
}

#project-form :first-child input {
  font-size: 1.1rem;
}

#project-form input {
  font-family: "Poiret One", cursive;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project {
  background-color: transparent;
  border: transparent;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: rgb(27, 27, 27);
  font-family: "Poiret One", cursive;
}

#todo {
  grid-column: 2/-1;
  background-color: rgb(255, 255, 255);
}

#priority {
  background-color: lime;
  width: 1rem;
  height: 1rem;
  outline: black solid 1px;
  margin-right: 1rem;
}

#task {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

#name {
  font-size: 25px;
}

#date {
  margin-right: 1rem;
}

#details {
  margin-left: auto;
  margin-right: 1rem;
  background: transparent;
  font-size: 15px;
  font-family: "Poiret One";
  cursor: pointer;
}

#edit {
  margin-right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

#edit-icon {
  width: auto;
  height: 1.3rem;
}

#delete {
  margin-right: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

#delete-icon {
  width: auto;
  height: 1.3rem;
}

#add {
  position: absolute;
  left: 90%;
  top: 85%;
}

#add-task {
  text-decoration: none;
  background-color: rgb(243, 95, 95);
  height: 80px;
  width: 80px;
  font-size: 5rem;
  border-radius: 50%;
  line-height: 0;
  border: 2px solid black;
}

#add-task:active {
  border: 5px solid black;
  background-color: rgb(193, 19, 19);
}
