body {
  background-color: black;
}

#wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Poiret One", cursive;
  caret-color: transparent;
}

#project-wrap {
  background-color: rgb(243, 95, 95);
  height: 100%;
  width: 25%;
  border-right: 1px solid black;
}

#title {
  text-align: center;
  font-size: 4rem;
  padding: 4rem 0 1rem 0;
}

.divider {
  background-color: black;
  margin: 0 auto;
  width: 20rem;
  height: 0.2rem;
}

#add-project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-family: "Poiret One", cursive;
}

.plus {
  font-size: 2rem;
  margin-right: 1rem;
}

#project-form {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-top: 2.65rem;
}

#project-form label {
  margin-right: 1rem;
}

#project-form :first-child input {
  font-size: 1.1rem;
}

#project-form input {
  font-family: "Poiret One", cursive;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project {
  background-color: transparent;
  border: transparent;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: rgb(27, 27, 27);
  font-family: "Poiret One", cursive;
}

#todo {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 70%;
}

#priority {
  background-color: red;
  width: 1rem;
  height: 1rem;
}

#task {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

#name {
  font-size: 2rem;
}

#details {
  margin-left: auto;
}

#delete {
  margin-right: 3rem;
}
